# ===========
# PYTHON
# ===========
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# ===========
# ENVIRONMENTS
# ===========
.venv/
venv/
env/

# ===========
# AIRFLOW (HUGE)
# ===========
airflow/logs/
airflow/plugins/
airflow/__pycache__/

# ===========
# DOCKER VOLUMES
# ===========
postgres/
minio/
spark/
kafka/
zookeeper/

# ===========
# OTHER HEAVY FOLDERS
# ===========
logs/
*.log
data/
tmp/
cache/
checkpoints/

# ===========
# GIT
# ===========
.git/
.gitignore

# ===========
# OS / EDITOR FILES
# ===========
.DS_Store
.idea/
.vscode/