.env

volumes
.venv

airflow/logs/
__pycache__/
*.pyc
*.pyo
*.pyd


*.pyc
*.log
*.db

jobs/*.csv
envs
example.docx
example.pptx
Architecture Specification Document Youtube Trends Analytics Platform.docx

