google-api-python-client

# Core Spark & Data Processing
pyspark==3.5.1
py4j==0.10.9.7

# Dbt
dbt-core==1.9.3
dbt-spark==1.9.3

# Kafka Integration
kafka-python==2.2.2

# Airflow (if running Airflow jobs)
apache-airflow==2.10.1
apache-airflow-client==2.10.0

# Hive/Trino Query Support
PyHive==0.7.0
thrift==0.16.0
thrift-sasl==0.4.3
pure-sasl==0.6.2
sqlparse==0.5.3

# Configuration & Templating
PyYAML==6.0.2
python-dotenv  # Add this for .env file support

# HTTP Requests
requests==2.32.5

# Data Processing
pandas==2.2.3

psycopg2-binary==2.9.9

# trino
trino==0.328.0

#isodate
isodate==0.6.1

python-dotenv==1.0.1